<!doctype html>
<html>
    <head>
    <title>Pam's Example Blog</title>
     </head>   
        <style>
            .error{
            color: purple;
            }
        </style>
        <body>
            <header>
    
                <nav><a href="/blog">Add a Blog Entry</a><br><a href="/newpost">Main Blog Page</a>
                </nav>            
            </header>  
           
            {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category, message in messages %}
                    <li class ='{{catetory}}'>{{message}}</li>
                    

                {% endfor %}
            </ul>    
            {% endwith %}        


        {% block content %}
        {% endblock %}

    </body>
</html>