{% extends 'base.html' %}

{% block content %}

<h1 align='center'> Build a Blog</h1><br>

{% if all_blogs|length == 0 %}
    <p>There's No Blogs Yet</p>
{% else %} 
    <ul type='none'>
    {% for single_blog in all_blogs %}
        <div class='single_body'>
            <h2> class = 'title'><a href='/?id={{blog.id}}' >{{blog.title}}</a></h2>
            <p class = 'blog'>{{blog.body}}</p>
        </div>
    {% endfor %}
    </ul>
{% endif %}            
<p>Hang on we'll be right back!</p>
{% endblock %}
 
