{% extends 'base.html' %}

{% block content %}

    <h1 align='center'>New Post</h1>
    <br>
    <form action='/newpost' method='POST'>
        <div>
        <label>
            Title of Post
        <br>
            <p class='error'>{{title_error}}</p>
            <input type='text' name='blog_title' />
        </div>    
        </label>
        <br>  
        <div>
        <label>
            Body of Post
            <p class='error'>{{body_error}}</p>
            <textarea name='blog_body' rows='15' cols='50'></textarea>
        </label>  
        <br>
        </div>       
        <input type="submit" value='Add Post'>
    </form>
{% endblock %}